/*Loanding*/
.loanding__Container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 175vh;
    background-color: rgba(0, 0, 0, 0.5);
   }
   .loading{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px
   }

   .Loading__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: "Montserrat";
    font-weight: 500;
  }

   @media screen and (max-width: 960px) {

    .loanding__Container{
        display: flex;
        position: absolute;
        width: 100%;
        height: 198vh;
       }

   }