.dropdown-container-main
{
    display: flex;
    background-color: #e2c20c;
  };

.david{
    display: flex;
    width: 92%;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.1px;
    padding: 1.0rem;
    color:  #E2E2E2;
    background-color: #1d1e20;
    outline: none;
    border: solid 1.9px #E2E2E2; 
    border-radius: 2px;
    margin-top: 0.5rem;
  };



.luis{
    display: flex ;
    position: absolute ;
    background-color: #3b68c27c ;
    color: aquamarine ;
  };


