
  .header-container {
    background-image: url('../../static/images/home/home.jpg');
    /*background-color: rgba(0,0,0,0.5);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
  }
  
  .img-Container{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .img-Home{
    display: flex;
    justify-content: center;
    align-items: center;
    width:750px ;
    height: 350px;
  }

  .img-Home-two
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width:700px ;
    height: 400px;
  }

  .name-Concurso{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px !important;
    letter-spacing: 20px;
    padding-left: 1.5rem;
  }

  .Participa-Concurso{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 19px !important;
    letter-spacing: 0.5px;
    color: #ffffff !important;
    width: 100%;
    padding-top: 0rem;
  }

   h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    line-height: 100px;
  }

  .Titulo-Principal{
    font-family: 'Poppins', sans-serif;
  }
  
  .header-container > p {
    margin-top: 2px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 32px;
    font-family: 'PT Sans', sans-serif;
  }
  
  .header-btns {
    margin-top: 10px;
    max-width: 500px;
    margin: 10px;
  }
  
  .btn-link{
    text-decoration-line: none; 
  }

  .btn-main{
    display: inline-block;
    padding: 12px 26px;
    font-size: 18px;
    border-radius: 2px;
    text-decoration-line: none;
    outline: none;
    border: 2px solid  #fff;
    cursor: pointer;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
}

.btn-outline{
    display: inline-block;
    background-color: transparent;
    color: #fff;
    padding: 12px 26px;
    border: 2px solid  #fff;
    transition: all 0.3s ease-out;
    font-size: 18px;
    border-radius: 2px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin: 10px; 
    font-family: 'PT Sans', sans-serif;
}



  
@media screen and (max-width: 960px) {

  .header-container {
    background-image: url('../../static/images/home/home.jpg');
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
  }
  
    h1 {
      font-size: 70px;
    }
    
    .btn-main{
        display: block;
        text-decoration-line: none;
        margin: 10px;
        width: 100%;
    }

    .btn-outline{
        display: block;
        text-decoration-line: none;
        margin: 10px;
        width: 100%;
    }

    .Participa-Concurso{
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
      padding-top: 2rem;
      font-size: 17px !important;
      letter-spacing: 1.5px;
      color: #ffffff !important;
      line-height: 30px !important;
      width: 70%;
    }

  }

  
@media screen and (max-width: 768px) {
    .header-container > h1 {
      font-size: 50px;
    }
  
    .header-container > p {
      font-size: 30px;
    }

    .header-btns {
        justify-content: center;
        align-items: center;
        margin-left: -15px;
        text-decoration-line: none;
      }

    .btn-main{
        display: block;
        text-decoration-line: none;
        margin: 10px;
        width: 100%;
    }

    .btn-outline{
        display: block;
        text-decoration-line: none;
        margin: 10px;
        width: 100%;
    }
    
  .img-Home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px ;
    height: 180px;
    padding: 0%;
  }

  .img-Home-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px ;
    height: 215px;
    padding: 0%;
  }

  .name-Concurso{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px !important;
    letter-spacing: 10px;
    margin-left: 2px;
    padding-bottom: 2rem;
  }

  .header-btns {
    margin-top: 5rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    max-width: 500px;
    margin: 10px;
  }

  .btn-Incripción-Home{
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 2px;
    text-decoration-line: none;
    outline: none;
    border: 2px solid  #ffd800;
    background-color: #ffd800;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #242222;
    transition: all 0.3s ease-out;
  }
  
  .btn-Incripción-Home:hover{
    display: inline-block;
    border: 2px solid  #fbff1d;
    background-color: #fbff1d;
    color: #242222;
    transition: all 0.3s ease-out;
  }
  

  }
  
  @media screen and (max-width: 960px) {

    .btn-Incripción-Home{
      display: inline-block !important;
      padding: 15px 25px;
      font-size: 18px;
      border-radius: 2px;
      text-decoration-line: none;
      outline: none;
      border: 2px solid  #ffd800;
      background-color: #ffd800;
      border-radius: 50px;
      cursor: pointer;
      margin: 10px;
      font-family: 'Rubik', sans-serif;
      font-size: 1.1rem;
      font-weight: 500;
      color: #242222;
      transition: all 0.3s ease-out;
    }
    
    .btn-Incripción-Home:hover{
      display: inline-block;
      border: 2px solid  #fbff1d;
      background-color: #fbff1d;
      color: #242222;
      transition: all 0.3s ease-out;
    }
  }
  
.btn-outline:hover, .btn-main:hover {
  transition: all 0.3s ease-out;
  background: #C5CF2F;
  border: 2px solid #C5CF2F;
  color: #fff;
  transition: 250ms;
}

.btn-Incripción-Home{
  display: none;
}


